// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #f8f8f8;
}

.animated-container {
  height: 5px;
  background: linear-gradient(270deg, #5e6de3, #00d29c, #ee5253, #f368e0, #ff9f43);
}

.bs-box {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bs-box:hover {
   box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}